@use "mixins" as *;
@use "pages/home";

// GLOBAL
.gallery-grid_item {
	&.margin-top-large {
		margin-top: 20%;
	}
	&.margin-top-huge {
		margin-top: 30%;
	}
}

// LAYOUT
.nav_menu_link:hover .nav_menu_link-pointer {
	background: #9e835f;
}

.section_hero_logo svg {
	overflow: visible;
}

.letter {
	transition: filter 0.1s ease-out;
}

.action-link:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% - 32px);
	height: 2px;
	background: #e3dfd8;
}
.action-link:after {
	content: "";
	position: absolute;
	right: 0;
	background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA5IiBoZWlnaHQ9IjM2MCIgdmlld0JveD0iMCAwIDIwOSAzNjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8yMDc0XzMpIj4KPHBhdGggZD0iTTIwMC4yNiAxNTkuMThMNDkuNTg5OSA4LjUxQzM4LjIzOTkgLTIuODMgMTkuODQ5OSAtMi44MyA4LjUwOTg4IDguNTFDLTIuODMwMTIgMTkuODUgLTIuODMwMTIgMzguMjQgOC41MDk4OCA0OS41OUwxMzguNjQgMTc5LjcyTDguNTA5ODggMzA5Ljg1Qy0yLjgzMDEyIDMyMS4yIC0yLjgzMDEyIDMzOS41OCA4LjUwOTg4IDM1MC45M0MxNC4xNzk5IDM1Ni42IDIxLjYxOTkgMzU5LjQ0IDI5LjA0OTkgMzU5LjQ0QzM2LjQ3OTkgMzU5LjQ0IDQzLjkxOTkgMzU2LjYgNDkuNTg5OSAzNTAuOTNMMjAwLjI2IDIwMC4yNkMyMTEuNjEgMTg4LjkyIDIxMS42MSAxNzAuNTMgMjAwLjI2IDE1OS4xOFoiIGZpbGw9IiNFM0RGRDgiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8yMDc0XzMiPgo8cmVjdCB3aWR0aD0iMjA4Ljc3IiBoZWlnaHQ9IjM1OS40NCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K");
	background-size: 85%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 24px;

	@include mobile {
		top: 50%;
		transform: translateY(-50%);
		background-size: contain;
		height: 65%;
		width: 16px;
	}
}

.footer_logo svg {
	overflow: visible;
}
