@use "mixins" as *;
@use "pages/home";

.nav_component {
	&.sticky {
		padding-top: 1rem;
	}
	&.light {
		.nav_logo {
			color: #000;
		}
		.nav_menu_link,
		.nav_actions_item,
		.dropdown1_component {
			color: #000;
		}
		.nav_button {
			.line-1,
			.line-2,
			.line-3 {
				background-color: #000;
			}
		}
	}
	&.dark {
		.nav_logo {
			color: #d3d1d1;
		}
		.nav_menu_link,
		.nav_actions_item,
		.dropdown1_component {
			color: #ded9ce;
		}
		.nav_button {
			.line-1,
			.line-2,
			.line-3 {
				background-color: #ded9ce;
			}
		}
	}
}

@include mobile {
	[data-nav-menu-open] {
		.nav_menu_link,
		.dropdown1_component {
			color: #000 !important;
		}
	}
}
