.gallery-list {
	display: flex;
	flex-wrap: wrap;
	gap: 88px;
	position: relative;
}

.gallery-list > .gallery-list_item {
	flex: 0 0 calc(50% - 44px);
	position: relative;
}

.gallery-list > .gallery-list_item:nth-child(odd) {
	margin-top: 0;
}

.gallery-list > .gallery-list_item:nth-child(even) {
	margin-top: 88px;
}
