/* Animação personalizada do Fancybox */
/* Ocultar elementos durante o estado inicial para evitar flash */
.fancybox__container.blackhaus-animating .fancybox__dialog,
.fancybox__container.blackhaus-animating .f-carousel__toolbar,
.fancybox__container.blackhaus-animating .f-button.is-arrow.is-prev,
.fancybox__container.blackhaus-animating .f-button.is-arrow.is-next,
.fancybox__container.blackhaus-animating [data-carousel-go-prev],
.fancybox__container.blackhaus-animating [data-carousel-go-next] {
	opacity: 0 !important;
	visibility: hidden !important;
}

.fancybox__backdrop {
	transform-origin: center center;
	will-change: transform, opacity;
}

.fancybox__viewport {
	/* padding: 32px 0; */
	will-change: transform, opacity;
}
.fancybox__slide {
	padding: 24px 0;
}

.f-carousel__toolbar {
	will-change: transform, opacity;
	height: 100%;
}
.f-carousel__toolbar__column.is-middle {
	align-content: flex-end;
	padding-bottom: 6px;
}
.f-thumbs__slide {
	filter: grayscale(1);
	transition: filter 0.4s ease-out;
}
.f-thumbs__slide.is-selected {
	filter: grayscale(0);
}

[data-thumbs-action] {
	transition: transform 0.6s ease;
}
[data-thumbs-action].is-active {
	transform: rotate(180deg);
}

.f-caption {
	position: absolute;
	bottom: 40px;
}
.f-caption .gallery-grid_img-caption {
	display: block;
}
